apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongodb-pvc
  namespace: epitrello
  labels:
    app.kubernetes.io/name: mongodb
    app.kubernetes.io/part-of: epitrello
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: local-path
