# Kustomize - permet de personnaliser les déploiements par environnement
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: epitrello

resources:
  - namespace.yaml
  # MongoDB
  - mongodb/pvc.yaml
  - mongodb/statefulset.yaml
  - mongodb/service.yaml
  # Backend
  - backend/configmap.yaml
  - backend/secret.yaml
  - backend/deployment.yaml
  - backend/service.yaml
  # Frontend
  - frontend/deployment.yaml
  - frontend/service.yaml
  # Ingress
  - ingress.yaml

commonLabels:
  app.kubernetes.io/managed-by: kustomize
  app.kubernetes.io/version: '1.0.0'

# Images à remplacer lors du déploiement
images:
  - name: ghcr.io/OWNER/epitrello-backend
    newTag: latest
  - name: ghcr.io/OWNER/epitrello-frontend
    newTag: latest
